<?xml version="1.0"?>
<config>
    <modules>
        <GaugeInteractive_Phpfpm>
            <version>1.0.0</version>
        </GaugeInteractive_Phpfpm>
    </modules>
    <global>
        <models>
            <gaugeinteractive_phpfpm>
                <class>GaugeInteractive_Phpfpm_Model</class>
            </gaugeinteractive_phpfpm>
        </models>
        <helpers>
            <gaugeinteractive_phpfpm>
                <class>GaugeInteractive_Phpfpm_Helper</class>
            </gaugeinteractive_phpfpm>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <phpfpm>
                    <file>gaugeinteractive/phpfpm.xml</file>
                </phpfpm>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <gaugeinteractive_phpfpm>
                <use>admin</use>
                <args>
                    <module>GaugeInteractive_Phpfpm</module>
                    <frontName>gaugeinteractive_phpfpm</frontName>
                </args>
            </gaugeinteractive_phpfpm>
        </routers>
    </admin>
</config>