<?xml version="1.0"?>
<config>
    <modules>
        <GaugeInteractive_Apc>
            <version>1.0.0</version>
        </GaugeInteractive_Apc>
    </modules>
    <global>
        <models>
            <gaugeinteractive_apc>
                <class>GaugeInteractive_Apc_Model</class>
            </gaugeinteractive_apc>
        </models>
        <helpers>
            <gaugeinteractive_apc>
                <class>GaugeInteractive_Apc_Helper</class>
            </gaugeinteractive_apc>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <apc>
                    <file>gaugeinteractive/apc.xml</file>
                </apc>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <gaugeinteractive_apc>
                <use>admin</use>
                <args>
                    <module>GaugeInteractive_Apc</module>
                    <frontName>gaugeinteractive_apc</frontName>
                </args>
            </gaugeinteractive_apc>
        </routers>
    </admin>
</config>