<?xml version="1.0"?>
<config>
    <modules>
        <GaugeInteractive_Redis>
            <version>1.0.0</version>
        </GaugeInteractive_Redis>
    </modules>
    <global>
        <models>
            <gaugeinteractive_redis>
                <class>GaugeInteractive_Redis_Model</class>
            </gaugeinteractive_redis>
        </models>
        <helpers>
            <gaugeinteractive_redis>
                <class>GaugeInteractive_Redis_Helper</class>
            </gaugeinteractive_redis>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <redis>
                    <file>gaugeinteractive/redis.xml</file>
                </redis>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <gaugeinteractive_redis>
                <use>admin</use>
                <args>
                    <module>GaugeInteractive_Redis</module>
                    <frontName>gaugeinteractive_redis</frontName>
                </args>
            </gaugeinteractive_redis>
        </routers>
    </admin>
</config>