<?xml version="1.0"?>
<config>
    <modules>
        <GaugeInteractive_EasyButton>
            <version>1.0.0</version>
        </GaugeInteractive_EasyButton>
    </modules>
    <global>
        <models>
            <gaugeinteractive_easybutton>
                <class>GaugeInteractive_EasyButton_Model</class>
            </gaugeinteractive_easybutton>
        </models>
        <helpers>
            <gaugeinteractive_easybutton>
                <class>GaugeInteractive_EasyButton_Helper</class>
            </gaugeinteractive_easybutton>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <easybutton>
                    <file>gaugeinteractive/easybutton.xml</file>
                </easybutton>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <gaugeinteractive_easybutton>
                <use>admin</use>
                <args>
                    <module>GaugeInteractive_EasyButton</module>
                    <frontName>gaugeinteractive_easybutton</frontName>
                </args>
            </gaugeinteractive_easybutton>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <gaugeinteractive_easybutton_flush>
                <schedule>
                    <config_path>easybutton/settings/cron_expression</config_path>
                </schedule>
                <run>
                    <model>gaugeinteractive_easybutton/cache::flush</model>
                </run>
            </gaugeinteractive_easybutton_flush>
        </jobs>
    </crontab>
</config>